@{
    
    var page = 0;
    var size = 8;
    if (!Request.QueryString["page"].IsEmpty())
    {
        page = Convert.ToInt32(Request.QueryString["page"]);
    }
    if (!Request.QueryString["size"].IsEmpty())
    {
        size = Convert.ToInt32(Request.QueryString["size"]);
    }
}


<!-- main-wrapper -->
<section id="main-wrapper" class="home">
    <div class="inner">
        @Html.Action("_FeaturedFilm", "Film")

        @Html.Action("_NewsFilm", "Film", new { page = 1, size = 4, havePaging = false })

        @Html.Action("_CategoryHome", "Category")
    </div>
    <!-- /.-inner -->
</section>
<!-- /#main-wrapper-->

@section metaTags
{
    @Html.Action("_HeadMeta")
}
@section scripts
{
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide"
            });
        });
    </script>
}
