@*<div>
    <script>
  (function() {
    var cx = '016059958690117976537:v4rltzqcj9k';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>
</div>*@
<section id="main-wrapper" class="search-page">
    <div class="inner">
        @{
            var query = Request.QueryString["query"];
        }
        @if (!string.IsNullOrWhiteSpace(query))
        {
            var cx = "016059958690117976537:v4rltzqcj9k";
            var ie = "UTF-8";
            var page = 1;
            var searchFormat = "https://www.google.com/cse?cx={0}&cof=FORID%3A10&ie={1}&q={2}#gsc.tab=0&gsc.q={2}&gsc.page=1:blank";
            var url = string.Format(searchFormat, cx, ie, query);
            <iframe id="search-result" scrolling="no" src="@url" width="100%" height="1250" frameborder="0"></iframe>
        }
    </div>
    <!-- /.-inner -->
</section>
<!-- /#main-wrapper-->

@section scripts
{
    <script type="text/javascript">
        
    </script>
    
}