@using PagedList.Mvc
@model PagedList.IPagedList<CDNVNCMS.Tube.Entities.Film>
@{
    ViewBag.Title = "Error";
}

<h2>Phim bị lỗi đường dẫn</h2>

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Hình Ảnh</th>
                <th>Tên Phim</th>
                <th>Số tập</th>
                <th><span class="t-link">&nbsp;</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.CheckBox("Published", item.Published,new{@value =item.Id, @class ="pub"})</td>
                    <td>
                        @if(item.FilmParts!=null&&item.FilmParts.Any())
                        {
                            <img src=@item.ImageUrl width="150" />
                        }
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @if(item.FilmParts!=null && item.FilmParts.Any())
                        {
                            <span>@item.FilmParts.Count tập</span>
                        }
                        else
                        {
                            <span>Chưa có</span>
                        }
                    </td>
                    <td>
                        <a class="t-button t-grid-viewDetails" href="/Admin/FilmManager/Edit/@(item.Id)">Sửa</a>
                        <a class="t-button t-grid-viewDetails" href="/Admin/FilmManager/ErrorDetails/@item.Id">Sửa hỏng</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))